/* ----------------------------
    FONTS
------------------------------- */
@import 'https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap';

* {
    box-sizing: border-box;
}

body {
    background-image: url("/images/home_main.jpg");
    background-size: cover;
    font-family: 'Hind', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    padding: 50px 20px;
    align-items: center;
}

h1 {
    font-family: 'Abhaya Libre', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

input{
    font-size: 1rem;
    outline: none;
    margin: 15px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: inherit;
    width: 80%;
}

input::placeholder{
    color: #1F1F1F;
    font-family: 'Hind', sans-serif;
}

button {
    border: 1px solid #EAE3D2;
    background-color: #EAE3D2;
    color: #1F1F1F;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 1rem;
    font-family: 'Hind', sans-serif;
    width: 60%;
    padding: 7px 0;
    transition: all 0.5s;
}

button:hover {
    background-color: transparent;
    border: 1px solid #1F1F1F;

}

.reg-link {
    font-size: 0.8rem;
    color: #1F1F1F;
    padding-top: 10px;
    text-decoration: none;
    border-bottom: 1px solid #1F1F1F;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.reg-link:hover{
    border-bottom: 1px solid transparent;
}

.logout-par {
    margin-top: 20px;
    background-color: white;
    padding: 3px 10px;
}

.logout-par a {
    text-decoration: none;
    color: #1F1F1F;
    border-bottom: 1px solid #1F1F1F;
}